/***** BASE STYLES *****/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Helvetica;
  margin:0;
}

a {
  font-style: italic;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

h2, h3 {
  font-family: Helvetica;
  font-weight:bold;
  color:black;
}

a:hover {
  text-decoration: underline;
}

/***** GRID *****/

/*for phones */
.third-width {
  float:none;
  margin: 0 auto;
  width:100%;
}

.full-width {
  margin:0 auto;
  width:100%;
}

.half-width {
  margin:0 auto;
  width:50%;
}

@media only screen and (min-device-width: 768px) {
  .third-width {
    margin: 0 auto;
    width: 33.33%;
  }
}

/** Header **/
header .third-width {
  float:left;
  text-align: center;
}

#left > a, #middle > a, #right > a {
    color: white;
    font-style: normal;
    font-weight:bold;
}

#left {
  background-color: black;
  color:white;
  font-size:3em;
  height:4em;
  padding-top:1.2em;
}

#middle {
  background-color: black;
  font-size:3em;
  height:4em;
  padding-top:1.2em;
}

#right {
  background-color: black;
  font-size:3em;
  height:4em;
  padding-top:1.2em;
}

@media only screen and (min-device-width: 768px) {
  #left {
    background: black;
    font-size:1.5em;
    height:2em;
    padding-top:.4em;
  }

  #middle {
    background-color: black;
    font-size:1.5em;
    height:2em;
    padding-top:.4em;
  }

  #right {
    background: black;
    font-size:1.5em;
    height:2em;
    padding-top:.4em;
  }
}

@media only screen and (max-device-width: 768px) {
  .separator {
    display:none;
  }
}

.separator {
  background-color: #c7d8c6;
  border-radius: .25em;
  -webkit-border-radius:.25em;
  -moz-border-radius:.25em;
  float:right;
  height:inherit;
  margin-top:-.4em;
  width:.25em;
}

.separator:hover {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

/*** About Area ***/
body {
  background: linear-gradient(to top,rgba(	108, 100, 139, 0.7), #cccbc6);
  cursor: default;
}

div.half-width {
  float:left;
}

h2 {
  font-size:4em;
  float:left;
  padding: 0.5em 0 .2em .8em;
  clear:both;
}


@media only screen and (max-device-width: 768px) {
  h2 {
    clear:both;
    float:left;
    font-size:4em;
    padding:2em 0 1em .8em;
  }

  div p {
    color: rgba(0, 0, 0, 1);
    float:left;
    font-size:2.8em;
    line-height: 2;
    min-width:20em;
    padding-left:1em;
    width:190%;
  }

  #me-div {
    clear:both;
    margin-left:5em;
  }

  #me {
    max-width: 100%;
    border-radius: 4em;
  }
}

@media only screen and (min-device-width: 768px) {
  div p {
    color: rgba(0, 0, 0, 1);
    float:left;
    font-size: 1.1em;
    padding: 1em 0 0 3em;
  }

  #me {
    border-radius: 4em;
    float:left;
    height:90%;
    margin-left:2em;
    width:90%;
  }
}

p a:hover {
  text-decoration: underline;
}

/*** Work Area ***/
#projects-work {
  clear:both;
}


#projects-work p {
  margin-left: -3em;
}

#smaller-width {
  padding-right:4em;
}

@media only screen and (max-device-width: 768px) {
  #projects-work .third-width p {
    float:left;
    margin-left:-1em;
    min-width:10em;
    text-align: left;
    width:100%;
  }
    #projects-work h3 {
      font-size:4em;
      padding-top:1.5em;
  }
}

#projects-work .third-width {
  float:left;
  padding:1em 2em 0 3em;
  text-align: left;
}

/*** Contact Area ***/

#email, #contact-info {
  margin-top:3em;
}

#email {
  clear:both;
}

#contact-info {
  float:right;
}

#contact h3 {
  font-size:1.2em;
  padding-left:2.5em;
}

#contact p {
  margin-top:-1em;
  padding-left:2.7em;
}

#left_mail {
  clear:both;
  float:left;
  margin-left:25%;
}

#mail-img {
  width:50px;
  height:50px;
}

@media only screen and (max-device-width: 768px) {
  #email {
    padding-top:.3em;
    margin-left: -5em;
  }

  #contact h3 {
    font-size:3em;
  }

  #email p {
    font-size:2.5em;
    margin: .5em 0 0 .2em;
    padding-left:2.7em;
    width: 50%;
  }

  #left_mail {
    float:right;
  }

  #contact-info {
    padding-top:.32em;
  }

  #socialmedia-header {
    margin-left:-1.5em;
    padding-right:.6em;
  }

  #socialmedia-header h3 {
    font-size: 1em;
  }

  ul li {
    width: .3em;
  }
}

ul li img {
  width:40px;
  height:40px;
}

li {
  display:inline-block;
  padding: 1.5em 3em 1em .5em;
}
